@import "../../styles/mixins";
@import "../../styles/variables";

.partners {
    &-container {
        @include centralize($justify: flex-start);
        gap: 48px;
        margin: 88px 0 0 66px;
        .swiper {
            height: 386px;
            width: 574px;

            &-slide {
                height: 350px;
                width: 574px;
            }
            .text {
                cursor: pointer;
                @include text($size: 14px, $weight: 700);
                text-transform: uppercase;
                padding: 10px 16px;
                border-radius: 6px;
                border: 1px solid #e5e5e5;
            }
            &-pagination {
                bottom: 0 !important;
            }
            &-button {
                &-next,
                &-prev {
                    display: none;
                }
            }
            @include pagination-carousel($gray-color);
        }
        .signature-box {
            position: relative;
            background-color: $secondary-color;
            width: 100%;
            height: 350px;
            border-radius: 20px 0 0 20px;
            img {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
    &-box {
        position: relative;
        height: 350px;
        width: 600px;
        img {
            border-radius: 20px;
        }
    }
    &-content {
        position: absolute;
        left: 40px;
        bottom: 40px;
        z-index: 10;
        .title-section {
            color: $white-color;
            font-size: 40px;
            font-weight: 700;
        }
        .partners-text {
            margin-bottom: 32px;
            color: $white-color;
            font-weight: 400;
            width: 180px;
        }
    }
}

.signature {
    &-content {
        @include centralize(
            $direction: column,
            $align: flex-start,
            $justify: flex-end
        );
        position: absolute;
        left: 40px;
        bottom: 40px;
        z-index: 10;

        .title-section {
            width: 200px;
            color: $black-color;
            font-size: 32px;
            font-weight: 700;
        }
        .signature-text {
            margin-bottom: 32px;
            color: $gray-color;
            font-weight: 400;
            width: 300px;
        }
    }
}
