$primary-color: #FBB900;
$secondary-color: #FEF6E7;
$support-primary-color: #F0D075;
$white-color: #FFFF;
$gray-color: #9F9F9F;
$black-color: #4D4D4D;
$blue-color: #041E50;

$font-title-section: 32px;
$font-text-button: 16px;
$font-text-header: 12px;
$padding-page: 0 56px;
