@import '../../styles/mixins';
@import '../../styles/variables';

.blog-container{
    width: 100%;
    margin-top: 88px;
    .title-section{
        margin-bottom: 32px;
    }
    .swiper{
        &-slide{
            width: 100%;
            @include centralize($align: flex-start);
            height: 463px;
        }
        &-pagination{
            bottom: 0 !important;
        }
        @include pagination-carousel($gray-color);
        @include button-carousel();
    }
}